<!-- Página de inicio-->
<!--Carousel-->

<div class="carousel slide" data-bs-ride="carousel" id="carouselExampleIndicators">
  <div class="carousel-indicators">
    <button aria-label="Slide 1" class="active" data-bs-slide-to="0" data-bs-target="#carouselExampleIndicators" type="button"></button>
    <button aria-label="Slide 2" data-bs-slide-to="1" data-bs-target="#carouselExampleIndicators" type="button"></button>
    <button aria-label="Slide 3" data-bs-slide-to="2" data-bs-target="#carouselExampleIndicators" type="button"></button>
    <button aria-label="Slide 4" data-bs-slide-to="3" data-bs-target="#carouselExampleIndicators" type="button"></button>
  </div>
  <div class="carousel-inner">
    <!--Video-->
    <div class="carousel-item active">
      <div class="w-100 ">
        <video autoplay loop id="video-background" class="fullscreen-bg">
          <source src="https://lexuio.000webhostapp.com/video/reel.mp4" type="video/mp4"> Your brower is old
        </video>
      </div>

      <div class="carousel-caption">
        <h5 class="animated bounceInRight" style="animation-delay: 1s"></h5>
        <p class="animated bounceInLeft d-none d-md-block" style="animation-delay: 2s">MODREAM es un estudio creativo centrado en Dirección de Arte, Animación y Motion Graphics. Creamos videos de animación con personalidad y fuerza visual para innovar en la comunicación de proyectos.</p>
        <p class="animated bounceInRight" style="animation-delay: 3s"><a href="#">Ver Reeel</a></p>
      </div>
    </div>
    <!--Imagen-->
    <div class="carousel-item">
      <img src="assets/img/img_1.png" class=" w-100" alt="...">
      <div class="carousel-caption">
        <h5 class="animated bounceInRight" style="animation-delay: 1s">El Oro Digital</h5>
        <p class="animated bounceInLeft d-none d-md-block" style="animation-delay: 2s">creación de su marca. ElOroDigital.com nace como un medio de comunicación alternativo de la provincia de El Oro, el que mantiene informada a la ciudadanía a través de su página web.</p>
        <p class="animated bounceInRight" style="animation-delay: 3s"><a href="#">Ver Proyecto</a></p>
      </div>
    </div>
    <!--Imagen-->
    <div class="carousel-item">
      <img src="assets/img/fotografia.jpg" class=" w-100" alt="...">
      <div class="carousel-caption">
        <h5 class="animated bounceInRight" style="animation-delay: 1s">Photography</h5>
        <p class="animated bounceInLeft d-none d-md-block" style="animation-delay: 2s">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, nulla, tempore. Deserunt excepturi quas vero.</p>
        <p class="animated bounceInRight" style="animation-delay: 3s"><a href="#">Learn More</a></p>
      </div>
    </div>
    <!--Imagen-->
    <div class="carousel-item">
      <img src="assets/img/img_3.png" class=" w-100" alt="...">
      <div class="carousel-caption">
        <h5 class="animated bounceInRight" style="animation-delay: 1s">Teaser videogame</h5>
        <p class="animated bounceInLeft d-none d-md-block" style="animation-delay: 2s">Videojuego en 3D de aventura y rescate cultural.</p>
        <p class="animated bounceInRight" style="animation-delay: 3s"><a href="#">Learn More</a></p>
      </div>
    </div>
  </div><button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#carouselExampleIndicators" type="button"><span aria-hidden="true" class="carousel-control-prev-icon"></span> <span class="visually-hidden">Previous</span></button> <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#carouselExampleIndicators" type="button"><span aria-hidden="true" class="carousel-control-next-icon"></span> <span class="visually-hidden">Next</span></button>
</div>
