<!-- Componente quienes somos-->
<div class="container" style="height: 70px"> </div>
<div class="container">
  <div class="row">
    <div class="col my-5">
      <!-- Titulo con Data binding-->
      <h1 class="text-center ">
        {{titulo}}
      </h1>

      <div class="row" >
        <div class="col mx-sm-12 mx-lg-4 mt-4">
          <p class="text-center" style="font-size: 22px">
            <!-- Contenido con Data binding -->
            {{descripcion}}
          </p>
        </div>
      </div>

    </div>
  </div>

</div>

<div class="container" style="height: 70px"> </div>
