<!-- Página de servicios-->

<img src="assets/img/print3D.jpg" class=" w-100" alt="...">

<div class="container" style="height: 60px"> </div>
<div class="container">
  <div class="row">
    <div class="col my-5">
      <!-- Titulo con Data binding-->
      <h1 class="text-center ">
        {{tituloServ}}
      </h1>
    </div>
  </div>
</div>

<div class="container" style="height: 10px"> </div>

<app-lista-servicios></app-lista-servicios>
<app-pie-de-pagina></app-pie-de-pagina>
