<!-- Componente Lista de Servicios-->

<div class="container" style="height: 20px"> </div>
<div class="container">
  <div class="row">
    <!-- Directiva ngFor para crear una lista a partir de la lista listServ.-->
    <div class="col-lg-4 col-sm-6 " *ngFor="let item of listServ">
      <ul class="list-group list-group-flush">
        <li class="list-group-item mt-5" style="font-size: 30px;">
          {{item.Servicio}}
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container" style="height: 100px"> </div>

