<!-- Componente pie de página -->
<section class="">
  <!-- Footer -->
  <footer class="text-center text-white" style="background-color: #0a4275;">

    <div class="container" style="height: 40px"> </div>

    <div class="container p-3">
      <div class="row">
        <!--Titulo-->
        <div class=" mb-4 mb-md-0">
          <h5 class="text-uppercase">{{titleFooter}}</h5>
          <div class="container" style="height: 30px"> </div>
          <p>
            {{textFooter}}
          </p>
        </div>
      </div>
    </div>
    <!-- Cta -->
    <div class="container p-4 pb-0">
      <section class="">
        <p class="d-flex justify-content-center align-items-center">
          <span class="me-3">{{Cta_Str}}</span>
          <button type="button" class="btn btn-outline-light btn-rounded">
            {{Cta_Str2}}
          </button>
        </p>
      </section>
    </div>

    <div class="container" style="height: 40px"> </div>

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      {{CopyrightStr}}
      <a class="text-white" >{{CopyrightStr2}}</a>
    </div>

  </footer>

</section>
