<!-- Componente colaboradores-->
<div class="container">
  <div class="row">
    <div class="col my-5">
      <!-- Titulo con Data binding-->
      <h1 class="text-center ">
        {{tituloEquip}}
      </h1>

    </div>
  </div>

</div>

<div class="container">
  <div class="row">
    <!-- Directiva ngFor para crear 3 cards de una lista. Commented by Carlos Icaza-->
    <div class="col-md-4 col-12 mb-4" *ngFor="let item of listColab">
      <div class="card bg-dark text-white">
        <!-- imagen -->
        <img src={{item.imagen}} class="card-img" alt="Carlos">
        <div class="card-img-overlay">
          <!-- nombre -->
          <h5 class="card-title">{{item.nombre}}</h5>

        </div>
        <div class="card-footer bg-transparent">
          <!-- descripcion -->
          {{item.descripcion}}

        </div>
      </div>

    </div>

  </div>
</div>

<div class="container" style="height: 100px"> </div>
