<!-- Página de equipo-->
<!-- Video-->

<!-- otra opcion
<div class="row">
  <div class="col-sm-12">
    <div class="ratio ratio-16x9" >
      <iframe src="https://lexuio.000webhostapp.com/video/world.mp4" title="Player One" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>
-->
<div class="w-100 ">
  <video autoplay loop id="video-background" class="fullscreen-bg">
    <source src="https://lexuio.000webhostapp.com/video/world.mp4" type="video/mp4"> Your brower is old
  </video>
</div>



<app-quienes-somos></app-quienes-somos>
<app-colaboradores></app-colaboradores>
<app-pie-de-pagina></app-pie-de-pagina>
